services:
  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    depends_on:
      - auth-db
    networks:
      - auth-net
      - microservices-net
    volumes:
      - ./auth-service/config.yml:/root/config.yml

  auth-db:
    image: postgres:16
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: auth_db
    volumes:
      - ./db/auth-db-data:/var/lib/postgresql/data
    networks:
      - auth-net
    ports:
      - '5434:5432'
